/* Encapsular estilos para evitar conflictos */

.borde-sombra
{
	/*border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
	 border-radius: 8px; box-shadow: 2px 2px 8px silver;
}
.blanco-sombra
{
		color: whitesmoke;
    text-shadow: 2px 2px 4px black;
}
.callout {
    gap: 1px;
    padding: 10px;
}
/*  dashboard */
.car-brands-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.car-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 150px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.2s;
  background-color: #f9f9f9;
}

.car-brand:hover {
  transform: scale(1.05);
}

.car-brand img {
  width: 100%;
  height: 100px; /* Ajusta la altura máxima de las imágenes */
  object-fit: contain; /* Asegura que las imágenes se ajusten sin distorsionarse */
  margin-bottom: 10px;
  border-radius: 5px;
}

.car-brand h3 {
  font-size: 16px;
  color: #333;
  margin: 5px 0;
}

.country-flag img {
  width: 20px;
  height: auto;
  margin-top: 5px;
  border-radius: 3px;
}

.year {
  font-size: 14px;
  color: #777;
}

a {
  text-decoration: none;
  color: inherit;
}

/*  fichas */
/*
.card-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
}*/

.card {

	
    width: 300px;
	height: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 2px solid #333;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.card img {
    /* width: 100%; */
    width: 300px;
    height: 180px;
    object-fit: cover; 


}

.card-content {

	
    padding: 20px;

	
}

.card-title, .card-subtitle, .card-info {
    text-align: center;
    margin-bottom: 10px;
}

.card-title {
    font-size: 22px;
    font-weight: bold;
    color: #333;
}

.card-subtitle {
    font-size: 18px;
    color: #555;
    margin-bottom: 5px;
}

.card-info {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.card-stats {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.card:hover {
    transform: scale(1.20);
}

.stat {
    text-align: center;
}

.stat-title {
    font-size: 14px;
    color: #555;
}

.stat-value {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
}

/* efecto de volteo muestra la parte trasera con la información de la tabla. */ 
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 550px;
  perspective: 1000px; /* Da el efecto 3D */
	margin: 0 auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
	margin: 0 auto;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
	  height: 100%;

  backface-visibility: hidden;
/*	background-color: transparent;*/
}

.flip-card-front {
  background-color: transparent;
  color: black;
}

.flip-card-back {
  background-color: transparent;
  color: white;
  transform: rotateY(180deg);
}

/* Ajustar el ancho máximo para pantallas más pequeñas */
@media (max-width: 400px) {
    .card {
        width: 90%;
    }
}

/* Tabla */
table.table2 {
    font-family: Georgia, serif;
    font-size: 18px;
    letter-spacing: -1px;
    line-height: 1.2em;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

.table2 thead th, .table2 tfoot td {
    padding: 20px 10px 40px 10px;
    color: #EF870E;
    font-size: 26px;
    background-color: #222;
    border-right: 1px dotted #666;
    border-top: 3px solid #666;
    box-shadow: 0px -1px 4px #000;
    text-shadow: 1px 1px 1px #000;
}

.table2 tfoot th {
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
    color: #888;
}

.table2 tfoot td {
    font-size: 24px;
    color: #fff;
    border-bottom: 3px solid #666;
    box-shadow: 0px 1px 4px #000;
}

.table2 tbody th {
    width: 30%;
    text-align: right;
    padding: 10px;
    color: #333;
    text-shadow: 1px 1px 1px #ccc;
    background-color: #f9f9f9;
    border-bottom: 2px solid #666;
}

.table2 tbody td {
    font-size: 12px;
    padding: 10px;
    background-color: #f0f0f0;
    border-right: 1px dotted #999;
    border-bottom: 2px solid #666;
    text-shadow: -1px 1px 1px #fff;
    text-transform: uppercase;
    color: #333;
}

/* Carrusel */

.carousel {
    position: relative;
    max-width: 640px; /* Ancho máximo */
    margin: auto;
    overflow: hidden; /* Ocultar contenido que se desborda */
}

.carousel-images-container {
    display: flex;
    transition: transform 0.5s ease; /* Transición suave al cambiar de imagen */
}

.carousel-slide {
    min-width: 100%; /* Cada slide ocupa el 100% del contenedor */
}

.carousel-image {
    width: 100%; /* Las imágenes llenan el espacio del slide */
    display: block; /* Elimina el espacio adicional debajo de las imágenes */
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente para visibilidad */
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 10; /* Asegura que el botón esté por encima de otros elementos */
    padding: 10px; /* Espaciado alrededor del botón */
}

#prevBtn {
    left: 10px; /* Posición izquierda */
}

#nextBtn {
    right: 10px; /* Posición derecha */
}

/* Estilos adicionales opcionales para mejorar la visibilidad de los botones */
.carousel-button:hover {
    background-color: rgba(255, 255, 255, 1); /* Fondo más opaco al pasar el mouse */
    transition: background-color 0.3s ease; /* Transición suave en hover */
}

/* Lista Generaciones */
.lista-item {
    width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 2px solid #333;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.lista-item img {
    width: 100px;
    height: 80px;
    object-fit: cover;
    margin: 5px;
}

.lista-item-content {
    padding: 10px;
}

@media (max-width: 400px) {
    .lista-item {
        width: 90%;
    }
}

.marca {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.modelo {
    font-size: 16px;
    color: #555;
}

hr.red {
    border: 0;
    height: 5px;
    background-image: linear-gradient(to right, rgba(128, 128, 128, 0), rgba(128, 128, 128, 0.75), rgba(128, 128, 128, 0));
    opacity: 0.8;
}

.next {
      position: absolute; 
    right: 10px;
}
ul.tabs li a[href="https://www.altanave.uy/p/rivales-juego-de-cartas-para-superar.html"] {
    color: #FF5733; /* Cambia el color del texto */
    font-size: large;
    transition: background-color 0.3s; /* Añade una transición suave */
}

ul.tabs li a[href="https://www.altanave.uy/p/rivales-juego-de-cartas-para-superar.html"]:hover {
    background-color: #555; /* Cambia el fondo al pasar el mouse */
}

a[href="https://www.altanave.uy/p/rivales-juego-de-cartas-para-superar.html"]::after {
    content: '\1F0CF'; /* Emoji de la carta */
    font-family: 'Segoe UI Emoji', sans-serif;
    font-size: 24px; /* Ajusta el tamaño según lo necesites */
    margin-left: 8px; /* Espacio entre el enlace y el emoji */
    vertical-align: top; /* Alineación vertical */
}

a[href="https://www.altanave.uy/p/rivales-juego-de-cartas-para-superar.html"]::after {
    content: '\1F0CF'; /* Emoji de la carta */
    font-family: 'Segoe UI Emoji', sans-serif;
    font-size: 24px; /* Ajusta el tamaño según lo necesites */
    margin-left: 8px; /* Espacio entre el enlace y el emoji */
    vertical-align: top; /* Alineación vertical */
}

a[href="https://www.altanave.uy/p/versus-compara-las-caracteristicas-de.html"]::after {
    content: '\1F19A'; /* Emoji de la carta */
    font-family: 'Segoe UI Emoji', sans-serif;
    font-size: 24px; /* Ajusta el tamaño según lo necesites */
    margin-left: 8px; /* Espacio entre el enlace y el emoji */
    vertical-align: top; /* Alineación vertical */
}

	/* Lista Modelos*/
    .lista-autos-container {
    	font-family: Arial, sans-serif;
        padding: 20px;
        margin: 0;
        box-sizing: border-box;
    }

    .lista-autos {
        list-style-type: none;
        padding: 0;
    }

    .lista-autos li {
        background-color: #fff;
        margin: 10px 0;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s, box-shadow 0.2s;
    }

    .lista-autos li:hover {
        transform: scale(1.02);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    .lista-autos li a {
        text-decoration: none;
        color: #333;
        display: flex;
        align-items: center;
    }

    .lista-autos li img {
        width: 80px;
        height: 50px;
        margin-right: 15px;
        border-radius: 5px;
        object-fit: cover;
    }

    .lista-autos li h3 {
        margin: 0;
        font-size: 18px;
        color: #333;
    }

    .lista-autos li p {
        margin: 5px 0 0;
        font-size: 14px;
        color: #666;
    }
  
.parrafo { 
	max-height: 4.5em; /* Limitar a 3 líneas */
  text-align: justify;
  border: 3px solid;
  border-image: linear-gradient(45deg, #d3d3d3, #808080) 1;
  margin: 10px 0;
  padding: 15px;
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h2.info::after { 
    content: 'entra para más info \2192'; /* Flecha como emoji */
    font-family: 'Segoe UI Emoji'; /* Fuente solo para el emoji */
    margin-left: 5px; /* Espacio entre el texto y el emoji */
    color: #0056b3; /* Color del emoji */
    font-size: 0.6em;   /* Ajusta el tamaño */
}
