/* Encapsular estilos para evitar conflictos */

.car-brands-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Establece 4 columnas */
    gap: 20px; /* Espaciado entre tarjetas */
    max-width: 1200px;
    margin: 0 auto;
}

.car-brand {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    transition: box-shadow 0.3s ease;
    height: 150px; /* Ajuste de altura consistente */
    align-content: center;
}

.car-brand:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.car-brand img {
    width: 50px;
    height: auto;
}

.car-brand h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}

.country-flag img {
    width: 20px;
    height: auto;
}

.car-brand .year {
    display: block;
    font-size: 14px;
    color: #777;
}
/*  */
.card-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
}

.card {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 2px solid #333;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.card img {
    /* width: 100%; */
    width: 300px;
    height: 180px;
    object-fit: cover; 


}

.card-content {
    padding: 20px;
}

.card-title, .card-subtitle, .card-info {
    text-align: center;
    margin-bottom: 10px;
}

.card-title {
    font-size: 22px;
    font-weight: bold;
    color: #333;
}

.card-subtitle {
    font-size: 18px;
    color: #555;
    margin-bottom: 5px;
}

.card-info {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.card-stats {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.card:hover {
    transform: scale(1.20);
}

.stat {
    text-align: center;
}

.stat-title {
    font-size: 14px;
    color: #555;
}

.stat-value {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
}

/* Ajustar el ancho máximo para pantallas más pequeñas */
@media (max-width: 400px) {
    .card {
        width: 90%;
    }
}

/* Tabla */
table.table2 {
    font-family: Georgia, serif;
    font-size: 18px;
    letter-spacing: -1px;
    line-height: 1.2em;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

.table2 thead th, .table2 tfoot td {
    padding: 20px 10px 40px 10px;
    color: #EF870E;
    font-size: 26px;
    background-color: #222;
    border-right: 1px dotted #666;
    border-top: 3px solid #666;
    box-shadow: 0px -1px 4px #000;
    text-shadow: 1px 1px 1px #000;
}

.table2 tfoot th {
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
    color: #888;
}

.table2 tfoot td {
    font-size: 24px;
    color: #fff;
    border-bottom: 3px solid #666;
    box-shadow: 0px 1px 4px #000;
}

.table2 tbody th {
    width: 30%;
    text-align: right;
    padding: 10px;
    color: #333;
    text-shadow: 1px 1px 1px #ccc;
    background-color: #f9f9f9;
    border-bottom: 2px solid #666;
}

.table2 tbody td {
    font-size: 12px;
    padding: 10px;
    background-color: #f0f0f0;
    border-right: 1px dotted #999;
    border-bottom: 2px solid #666;
    text-shadow: -1px 1px 1px #fff;
    text-transform: uppercase;
    color: #333;
}

/* Carrusel */

.carousel {
    position: relative;
    width: 100%;
    max-width: 640px;
    overflow: hidden;
}

.carousel-images-container {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide {
    min-width: 100%;
    display: flex;
    justify-content: center;
}

.carousel-image {
    min-width: 100%;
    height: auto;
    max-height: 480px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

#prevBtn {
    left: 0;
}

#nextBtn {
    right: 0;
}



/* Lista Generaciones */
.lista-item {
    width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 2px solid #333;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.lista-item img {
    width: 100px;
    height: 80px;
    object-fit: cover;
    margin: 5px;
}

.lista-item-content {
    padding: 10px;
}

@media (max-width: 400px) {
    .lista-item {
        width: 90%;
    }
}

.marca {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.modelo {
    font-size: 16px;
    color: #555;
}

hr.red {
    border: 0;
    height: 5px;
    background-image: linear-gradient(to right, rgba(128, 128, 128, 0), rgba(128, 128, 128, 0.75), rgba(128, 128, 128, 0));
    opacity: 0.8;
}

.next {
      position: absolute; 
    right: 10px;
}
ul.tabs li a[href="https://www.altanave.uy/p/rivales-juego-de-cartas-para-superar.html"] {
    color: #FF5733; /* Cambia el color del texto */
    font-size: large;
    transition: background-color 0.3s; /* Añade una transición suave */
}

ul.tabs li a[href="https://www.altanave.uy/p/rivales-juego-de-cartas-para-superar.html"]:hover {
    background-color: #555; /* Cambia el fondo al pasar el mouse */
}

a[href="https://www.altanave.uy/p/rivales-juego-de-cartas-para-superar.html"]::after {
    content: '\1F0CF'; /* Emoji de la carta */
    font-family: 'Segoe UI Emoji', sans-serif;
    font-size: 24px; /* Ajusta el tamaño según lo necesites */
    margin-left: 8px; /* Espacio entre el enlace y el emoji */
    vertical-align: top; /* Alineación vertical */
}
